@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

#landing-page {
  height: 700px;
}

/*

#about_us{
  margin: 600px 100px 600px;
}

#about_VIT{
  margin: 600px 100px 600px;
}

#events{
  margin: 600px 100px 600px;
}

#blogs{
  margin: 600px 100px 600px;

}

#photo-gallery{
  margin: 600px 100px 600px;

}
*/
#team {
  background-color: #010015;
}

.mentors{
  position: relative;
  left: 290px;
}

/* NAVBAR */
.navbar .navbar-brand {
  font-size: 30px;
}

.navbar .nav-item {
  padding: 10px 20px;
}

.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}

.fa-bars {
  color: #007bff;
  font-size: 30px;
}

nav {
  background: rgba(0, 0, 0, 0);
}

.logo_img {
  height: 52px;
  width: 170px;
  margin-right: 30%;
}

/* FOOTER */
ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.instagram-bg {
  background: #F94892;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* BACK TO TOP BUTTON */
#btn-back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 32px;
  width: 30px;
  opacity: 0.9;
  /* transition: ease-in-out 0.6s; */
  display: none;
  background-image: url("/images/upload.png");
}

.btn:hover {
  /* transition: ease-in-out 0.6s; */
  opacity: 1.5;
}

.upToTop {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* FOOTER */
/* ABOUT US */



.aboutUs_img {
  margin: 50px;
  height: 400px;
  width: 400px;
  border-radius: 100%;
}

.about_us {
  background-color: #220146;
}

.about_us_text {
  color: white;
  padding: 120px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
font-size: 1.4rem;
line-height: 29px;
}

.Heading{
  text-align: center;
  font-size: 3.7rem;
  font-weight: 550;
  /* margin: 10px; */
}

/* ABOUT VIT */
.about_VIT {
  background-color: #220146;
}

/* EVENTS */
/* .longTitle{
  position: relative;
  bottom: 20px;
} */

.events {
  background-color: #1C003B;
}

/* BLOGS */
.blogs {
  background-color: #0D0026;
}

/* TEAM */
.team {
  background-color: #010015;
}

/* PHOTO GALLERY */
.photo-gallery {
  background-color: #08001E;
}

.photo_gallery{
  width: 500px;
  height: 750px;

}

.photo_gallery1{
  width: 500px;
  height: 900px;
}

.carousel_photo{
  padding: 150px;
}

/* LANDING PAGE */
.text{
  margin-right: 8px;
}
.landing_container {
  position: relative;
  top: 250px;
  margin: 30px;
}

.landing_page_header {
  font-size: 6rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}


.hidden {
  opacity: 0;
}

.console-container {
  font-size: 3rem;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: 7px;
}

.console-underscore {
  display: inline-block;
  position: relative;
  left: 10px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

/* TEAM */
.section-team {
  font-family: "Poppins", sans-serif;
  padding: 80px 0;
  background-color: #010015;
}

.section-team .header-section {
  margin-bottom: 50px;
}

.section-team .header-section .small-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #3e64ff;
}

.section-team .header-section .title {
  font-weight: 700;
  font-size: 45px;
}

.section-team .single-person {
  margin-top: 30px;
  padding: 30px;
  background-color: #f6f9ff;
  border-radius: 5px;
}

.section-team .single-person:hover {
  background: linear-gradient(to right, #016cec, #00b5f7);
}

.section-team .single-person .person-image {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 4px dashed transparent;
  transition: padding .3s;
}

.section-team .single-person:hover .person-image {
  padding: 12px;
  border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
  width: 100%;
  border-radius: 50%;
}

.section-team .single-person .person-image .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(to right, #016cec, #00b5f7);
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
  background: none;
  background-color: #fff;
  color: #016cec;
}

.section-team .single-person .person-info .full-name {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}

.section-team .single-person .person-info .speciality {
  text-transform: uppercase;
  font-size: 14px;
  color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
  color: #fff;
}

.team_socials {
  height: 20px;
  width: 20px;
}

.team_socials:hover {
  height: 25px;
  width: 25px;
  transition: ease-in-out 0.2s;
}

/* EVENTS */
.container_card {
  width: 90%;
  max-width: 1260px;
  margin: 0 auto;
}

.card_outer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  min-height: 400px;
  text-align: center;
  color: #fff;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  font-family: 'Montserrat', sans-serif;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  opacity: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:hover:after {
  opacity: 1;
  transition: opacity calc(var(--d) * 1.5) var(--e);
}

.card:nth-child(1):before {
  background-image: url(https://picsum.photos/200/300.jpg);
}

.card:nth-child(2):before {
  background-image: url(https://picsum.photos/200/300.jpg);
}

.card:nth-child(3):before {
  background-image: url(https://picsum.photos/200/300.jpg);
}

.card:nth-child(4):before {
  background-image: url(https://picsum.photos/200/300.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content>*+* {
  margin-top: 1rem;
}

.title {
  font-size: 25px;
  font-weight: bold;
  line-height: 35px;
}

.copy {
  font-size: 15px;
  font-style: italic;
  line-height: 25px;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: #0d0d0d;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }

  .card:hover .content>*:not(.title),
  .card:focus-within .content>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content>*:not(.title) {
    transition-duration: 0s;
  }
}

/* BLOGS */
.blog {
  position: relative;
  width: 22em;
  height: 30em;
  background: url(https://cache.desktopnexus.com/thumbseg/25/25727-bigthumbnail.jpg) no-repeat;
  background-size: 22em 30em;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  margin: auto;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  overflow: hidden;
  display: inline-block;
}

.blog * {
  position: relative;
  z-index: 2;
}

.blog:hover .color-overlay {
  background: rgba(74, 100, 114, 0.8);
}

.blog:hover .info {
  bottom: -3em;
  opacity: 1;
}

.blog, .color-overlay {
  border-radius: 0.7em;
}

.color-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: 0.7s background;
  background: rgba(74, 100, 114, 0.3);
  z-index: 1;
}

.title-box {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}

.title-box hr {
  margin-top: -0.4em;
  margin-bottom: 1em;
  width: 5em;
  height: 0.25em;
  box-sizing: content-box;
  border: none;
  background: #D0BC57;
}

h3 {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.4em;
  text-align: center;
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

.info {
  font-family: 'Droid Serif', serif;
  font-size: 1.2em;
  color: #ddd;
  line-height: 1.1em;
  padding: 0 2em;
  position: relative;
  bottom: -4em;
  opacity: 0;
  background: transparent;
  transition: opacity 0.3s, bottom 0.3s;
  text-align: center;
}

.footer {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10em;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  border-radius: 0 0 0.7em 0.7em;
}

.footer>.icon-holder {
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
  display: inline-block;
  font-size: 1.2em;
  padding: 0 2em;
}

.icon-holder i {
  color: #D0BC57;
}

.icon-holder span, h3 {
  color: #aCcff0;
}

space {
  display: inline-block;
  width: 0.6em;
  height: 1em;
}

/* SPONSORS */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

#sponsors{
  background-color: black;

}

.slider {
  background-color: black;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}
